<p style="color: green"><%= notice %></p>

<h1>Inventory</h1>

<div id="inventory">
  <% @inventory.each do |inventory| %>
    <%= render inventory %>
    <p>
      <%= link_to "Show this inventory", inventory %>
    </p>
  <% end %>
</div>

<%= link_to "New inventory", new_inventory_path %>
